.nav-btn {
  text-decoration: none;
  color: var(--text);
  background-color: var(--nav-btn);
  padding: 0.5rem 1rem;
  border-radius: 8px;
  font-weight: bold;
  transition: background-color 0.2s ease;
}

.nav-btn:hover {
  background-color: var(--accent-2);
}